  .subUl {
    display: none;
  }
  .subUl.show{
    display: block;
  }
  .add-color-active{
    background: lightgreen;
  }
  #mainDiv {
    border: 1px solid red;
    width:20%;
    float:left;
    margin: 10px;
  }
  #addForm{
    width:60%;
    float:left;
    border:1px solid red;
    margin: 10px;
  }
  #prevBtn {
    margin: 10px;
    }
  #nextBtn {
    margin: 10px;
    float:right;
    }
  #contentHeading{
    padding:10px;
    text-align:center;
    background: lightgreen;
    margin: 10px;
  }
